header {
    background-color:black ;
    width:100%;
    height: 65px;
}
#logo{
    margin-left: 20px;
}
#icon2{
    align-items: flex-end;
}
#date{
    font-size: 13px;
}
.verti{
    writing-mode: vertical-lr;
    transform:rotate(180deg);
    text-orientation:sideways;
    font-size: 55px;
}
#flow{
    margin-top: 225px;
}

#wel{
    font-size: 65px;
    margin-top: 85px;
    animation-duration: 3s ;
    animation-name: welc;
 

}
@keyframes welc {
   
    from {
        margin-left: -100px;
    }to{
        margin-right:0px ;
    }
}

#copy{
    font-size: 10px;
}
#foot{
    font-size: 15px;
    margin-top: 35px;
}
.container1{
 background: rgb(214, 49, 49);
 width: 100%;
 height: 500px;
 display: flex;
 color: white;
 padding: 65px;

 
}
.container3{
    background: rgb(214, 49, 49);
    width: 100%;
    height: 500px;
    display: flex;
    color: white;
    padding: 65px;
   
    
   }
.container2{
    background: black;
    width: 100%;
   display: flex;
    color: white;
}
#here{
    font-size: 65px;
}
.container3{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
}
.container4{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
}
.container5{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
}
.container6{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
    margin-left: 75px;
}
.container7{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
    margin-left: 75px;
}
.container8{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
    margin-left: 75px;
}
.main{
    background: black;
}  
#miss{
    margin-top: 125px;
}
hr{
    display:block;
}
.img1{
    width:50px;
    height:50px;
    

}
#uni{
    width:200px;
    height:150px;
    margin-top: 75px;
    margin-left: 25px;
}
.img2{
    width:150px;
    height:50px;
    margin-left: 35px ;
    

}
.first{
    background: rgb(0, 0, 0);
}