header {
    background-color:black ;
    width:100%;
    height: 65px;
}
.verti{
    writing-mode: vertical-rl;
    text-orientation: upright;
}
#wel{
    font-size: 65px;
    margin-top: 45px;

}
#foot{
    font-size: 15px;
}
.container1{
 background: red;
 width: 100%;
 height: 500px;
 display: flex;
 color: white;

 
}
.container2{
    background: black;
    width: 100%;
    height: 800px;
}
hr{
    display:block;
}
.img1{
    width:50px;
    height:50px;
    

}

