header {
    background-color:black ;
    width:100%;
    height: 65px;
    padding:0;
    margin:0;
}

#footer{
    background-color: black;
    width: 100%;
    display:flex;
   
}
.red{
    color:red;
}
#logo{
    margin-left: 20px;
}
#icon2{
    margin-left:95%;
}
#date{
    font-size: 13px;
}
.verti{
    writing-mode: vertical-lr;
    transform:rotate(180deg);
    text-orientation:sideways;
    font-size: 55px;
}

#flow{
    margin-top: 225px;
}

.wel{
    font-size: 65px;
    margin-top: 85px;
    animation: welc 3s forwards;
    
}
@keyframes welc {
   
    from {
        margin-left: -100px;
    }to{
        margin-right:0px ;
    }
}

#copy{
    font-size: 10px;
}
#foot{
    font-size: 15px;
    margin-top: 35px;
}
.container1{
 background: rgb(214, 49, 49);
 width: 100%;
 height: 500px;
 display: flex;
 color: white;
 padding: 65px;

 
}
.container3{
    background: rgb(214, 49, 49);
    width: 100%;
    height: 500px;
    display: flex;
    color: white;
    
   
    
   }
.container2{
    background: black;
    width: 100%;
   display: flex;
    color: white;
    padding:0;
    margin:0;
}
.here{
    font-size: 35px;
}
.container3{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
}
.container4{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
}
.container5{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
}
.container6{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
    margin-left: 75px;
}

.container7{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
    margin-left: 75px;
}
.container8{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
    margin-left: 75px;
}
.container9{
    background: black;
    width: 100%;
    display: flex; 
    color: white;
}

.main{
    background: black;
    writing-mode: horizontal-tb;
}  
#miss{
    margin-top: 125px;
    margin-left:35px ;
    

}
.human{
    width:200px;
    height:200px;
    margin-left:35px;
}
#human{
    width:200px;
    height:200px;
    margin-left:35px;
}
hr{
    display:block;
}
.img1{
    width:25px;
    height:25px;
    

}
.white{
    color:white;
    font-size: 19px;
}
.uni{
   
    margin-top: 75px;
    margin-left: 25px;
}
.img2{
    width:150px;
    height:50px;
    margin-left: 35px ;
    animation: fadin 3s forwards;
    

}
.uni{
    width:150px;
    height:50px;
    margin-left: 35px ;
    margin-top: 85px ;

}
.first{
    background: rgb(0, 0, 0);
}
.main2{
background: rgb(231, 42, 42);
width: 100%;
color:white;
display: flex;
}

.intro{
font-size: 45px;
margin-top: 65px;

}
.intro_txt{
    font-size: 15px;
    margin-top: 3px;
    white-space: pre-wrap;

}

.snmall{
    font-size: 10px;
}


@keyframes fadin{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes slidin{
    from {
        margin-left: -100px;
    }to{
        margin-right:0px ;
    }
}


.fad{
    animation: fadin 3sec forwards;
}
#slidi{
    animation: slidin 3s forwards;
}
